<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>YK</string>
		<key>url</key>
		<string>http://qqpull.inke.cn/live/1502429277985188.flv?ikHost=tx&amp;ikOp=0&amp;codecInfo=8192</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凉凉</string>
		<key>url</key>
		<string>https://he.yinyuetai.com/uploads/videos/common/82F00159833EA6BD378936FF1242C975.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刚好遇见你</string>
		<key>url</key>
		<string>https://hc.yinyuetai.com/uploads/videos/common/0F5F0159A53C33E687C46743839F94BE.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小手拉大手</string>
		<key>url</key>
		<string>https://data.vod.itc.cn/?prod=app&amp;new=/27/9/EO4SBkZiKrNIXbNESLeaN.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嗯</string>
		<key>url</key>
		<string>https://he.yinyuetai.com/uploads/videos/common/BB29015C61997F3FE0A6DCDB2B425549.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>喜欢你</string>
		<key>url</key>
		<string>https://he.yinyuetai.com/uploads/videos/common/1E2401595DDA6B1379DAC939428281A3.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Baby Boy</string>
		<key>url</key>
		<string>https://data.vod.itc.cn/?prod=app&amp;new=/27/236/08LKHQUxtuLLoWUGjcDKV.mp4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成都</string>
		<key>url</key>
		<string>https://he.yinyuetai.com/uploads/videos/common/52CB015AA5D0A2330C59C0600469CA8F.mp4</string>
	</dict>
</array>
</plist>
